@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&family=Roboto:ital@0;1&display=swap');

html{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: #212529;
}

header{
    position: sticky;
}

.header_bar{
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    font-family: 'Roboto Condensed';
    border-bottom: 2px solid #000;
}

.header_bar img{
    width: 103px;
    height: 103px;
}

.header_bar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_bar nav{
    font-size: 24px;
    padding-right: 3em;
    margin-left: auto;
    width: 30%;
}

.header_bar a:link, a:visited{
    color: #000;
}

.header_bar a:hover{
    color: #F2526E;
}

h2, h3{
    font-size: 36px;
    color: #F2526E;
    font-family: Roboto Condensed;
}

h2{
    Margin-bottom : 0%;
}

.blog{
    font-size: 24px;
    color:#000;
}

body{
    font-size: 18px;
    text-align: justify;
}

a:link{
    color: #000;
}

.body_main{
    background: #FFFFFF;
    padding: 5%;
    padding-top: 0%;
}

.text1{
    border-bottom: 2px solid #808080;    
}

img{
    width: 100%;
    max-height: 216px;
}

footer{
    background: #D9D9D9;
    display: flex;
}
